
/*

.dark-primary-color    { background: #E64A19; }
.default-primary-color { background: #FF5722; }
.light-primary-color   { background: #FFCCBC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FFEB3B; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
*/

html{}
body{
	
	width: 80%;
	font-family: 'Lato', sans-serif;
	margin:auto;
	/*background-image: url(images/fixex.png);
	background-attachment: fixed;*/
/*	opacity: 1.6;	
*/	background-color: black;
	color: #fff;
}

body p{
	color: #fff;
	font-size: 26px;
}

.header
{
	margin-top: 3px;
	height: 8%;
	background-color: #FF7F50;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;

}

.header h1{
	color: #fff;

}

.wrapper{
/*	position: relative;
*/}

.intro{
	
	height: 12%;
   
    animation: my 0.5s forwards;
    animation-direction: normal;
/*    position: absolute;
*/}



.intro p{

	text-align: left;
	color: #212121 ;
	font-size: 26px;
}
@media (min-width:768px){
 .row p{
 	font-size: 26px;
 }
.row.no-pad {
  margin-right:0;
  margin-left:0;
  display: table;
}
.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:2px;
  float: none;
  display: table-cell;
  
  vertical-align: top;
}
.row.no-pad p{
	text-align: justify;
    text-justify: inter-word;
}


}

@media (max-width:768px){
	body p{
	color: #fff;
	font-size: 21px;
}
	.row p{ font-size: 19px }
.row.no-pad {
  margin-right:0;
  margin-left:0;
}
.row.no-pad > [class*='col-'] {
  float: none;
  width: 100%;
  max-width: 600px;
}
.row.no-pad p{
	font-size: 19px;
}
}
.sepeartor{
	 background-color: #FFEB3B; height: 4px; width: 88%; margin: auto;
	 margin-top: 10px; 
	 margin-bottom: 5px;
}

.container{
	/*border: 3px solid #BDBDBD;*/
	width: 100%;
}

 .item{
 	height: 300px;
 }

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.carousel-caption{
	width: 60%;
}

@media (max-width: 784px){

.carousel-caption{
	width: 60%;
	margin-left: 8%;
}

}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid rgba(3,169,244, 0.4) ;
  border-radius: 50%;
  border-top: 16px solid #FF7F50;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@media (min-width: 784px){
#welcome {
	position: absolute;
	left: 42%;
	top: 35%;

}

/*@media (max-width: 500px){
#welcome {
	position: absolute;
	left: 35%;
	top: 30%;
}
}*/

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
.projects{
	/*background-image: url(images/19989aa3.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background: rgba(3,169,244, 0.4);
	background-size: 100%;*/

}
/*@media screen and (max-width:  732px){

.row.no-pad > [class*='col-'] {
  float: none;
  width: 100%;
  padding-right:0;
  padding-left:2px;
  vertical-align: top;
}

.col-xs-12{
	float: none;
	width: 100%;
}

}*/



/*
#cloud{
	position: relative;
	height: 600px;
}

#analytics{
	position: relative;
	height: 600px;
}

#webdev{
	position: relative;
	height: 600px;

}

.inner{
	position: relative;
	font-size: 48px;
	color: #212121;
	z-index: 2;
	top: 45%;
	left: 30%;
}

#analytics:after {
  content: "\f080"; 
  font-family: FontAwesome;
  position: absolute;
  font-size: 400px;
  color: #FF7F50;
  top: 50%;
  left: 50%;
  margin: -300px 0 0 -200px;
  z-index: 1;
}

#cloud:after {
  content: "\f0c2"; 
  font-family: FontAwesome;
  position: absolute;
  font-size: 400px;
  color: #FF7F50;
  top: 50%;
  left: 50%;
  margin: -300px 0 0 -200px;
  z-index: 1;
}
*/


/*
  .header{
 height: 12%;
 max-width: 100%;
margin: auto;
 font-size: 30px;
 background-color:  #26A69A;
   overflow: hidden;
position: relative;

	
}
.header span{
	width:30%;
 	margin-left: 15px;
	float: left;
	margin-top: 10px;
	padding: auto;
}
.header nav{
	width: 70%;
	float: right;
	margin: auto;
	
	padding: auto;


}

.header nav i{
	margin-left: 25px;
	margin-right: 15px;
}

.image{
	height: 300px;
	
/*	background-color: green;
	margin:auto;
	padding-bottom: 50px;
}
Siddharth's website
.image h1{
	color:#26A69A;
	text-align: center;
	margin-bottom: 25px;
	
-webkit-animation-name: example; /* Safari 4.0 - 8.0 
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 
    animation-name: example;
    animation-duration: 1s;

-webkit-animation-name: example1; /* Safari 4.0 - 8.0 
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 
    animation-name: example1;
    animation-duration: 1s;


	position:absolute;
 margin: -150px 0 0 -50px;
  left: 50%;
top: 50%;

}

h1{

	text-align: center;
	color:#26A69A;
}
*/
