
/*

.dark-primary-color    { background: #E64A19; }
.default-primary-color { background: #FF5722; }
.light-primary-color   { background: #FFCCBC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FFEB3B; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
*/
body{
	
	width: 80%;
	font-family: 'Lato', sans-serif;
	margin:auto;
	background-image: url(images/fixex);
	background-attachment: fixed;
/*	opacity: 1.6;	
*/	color: #fff;
}

body p{
	color: #fff;
}

.header
{
	margin-top: 3px;
	height: 8%;
	background-color: #FF7F50;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;

}

.header h1{
	color: #fff;

}

.intro{
	
	height: 12%;

}


.intro p{

	text-align: left;
	color: #212121 ;
	font-size: 26px;
}

.row.no-pad {
  margin-right:0;
  margin-left:0;
  display: table;
}
.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:2px;
  float: none;
  display: table-cell;
  vertical-align: top;
}

.sepeartor{
	 background-color: #FFEB3B; height: 4px; width: 88%; margin: auto;
	 margin-top: 10px; 
	 margin-bottom: 5px;
}

.container{
	/*border: 3px solid #BDBDBD;*/
	width: 100%;

}

 .item{
 	height: 500px;
 }

.carousel-control.left, .carousel-control.right {
    background-image: none
}



.projects{
	background-image: url(images/19989aa3.png);
	background: rgba(3,169,244, 0.4);

}



/*
#cloud{
	position: relative;
	height: 600px;
}

#analytics{
	position: relative;
	height: 600px;
}

#webdev{
	position: relative;
	height: 600px;

}

.inner{
	position: relative;
	font-size: 48px;
	color: #212121;
	z-index: 2;
	top: 45%;
	left: 30%;
}

#analytics:after {
  content: "\f080"; 
  font-family: FontAwesome;
  position: absolute;
  font-size: 400px;
  color: #FF7F50;
  top: 50%;
  left: 50%;
  margin: -300px 0 0 -200px;
  z-index: 1;
}

#cloud:after {
  content: "\f0c2"; 
  font-family: FontAwesome;
  position: absolute;
  font-size: 400px;
  color: #FF7F50;
  top: 50%;
  left: 50%;
  margin: -300px 0 0 -200px;
  z-index: 1;
}
*/


/*
  .header{
 height: 12%;
 max-width: 100%;
margin: auto;
 font-size: 30px;
 background-color:  #26A69A;
   overflow: hidden;
position: relative;

	
}
.header span{
	width:30%;
 	margin-left: 15px;
	float: left;
	margin-top: 10px;
	padding: auto;
}
.header nav{
	width: 70%;
	float: right;
	margin: auto;
	
	padding: auto;


}

.header nav i{
	margin-left: 25px;
	margin-right: 15px;
}

.image{
	height: 300px;
	
/*	background-color: green;
	margin:auto;
	padding-bottom: 50px;
}
Siddharth's website
.image h1{
	color:#26A69A;
	text-align: center;
	margin-bottom: 25px;
	
-webkit-animation-name: example; /* Safari 4.0 - 8.0 
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 
    animation-name: example;
    animation-duration: 1s;

-webkit-animation-name: example1; /* Safari 4.0 - 8.0 
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 
    animation-name: example1;
    animation-duration: 1s;


	position:absolute;
 margin: -150px 0 0 -50px;
  left: 50%;
top: 50%;

}

h1{

	text-align: center;
	color:#26A69A;
}
*/

.technologies{
	height: 10%;
/*	background-color:  #26A69A;*/
background-image: url(images/3c29548a.png);
	
	overflow:hidden;
	object-fit: contain;
	text-align:center;
	   display: inline-block;
    position:relative;
}

.technologies img{
		max-height:70%; 
		max-width: 12%;
}

/*.technologies img{ 
  margin: auto;
  	overflow: auto;


  display: inline-block;
  	max-height:80%; 
	max-width: 12%;

	
	max-height: 70%;
	max-width:  12%;
		

	  
}*/


@media screen and (max-width: 500px) {


	.technologies img{
		        display: inline-block;

	max-width: 8%;
	
}

}


.logo{
	
	margin: auto;
	
	overflow: auto;
	margin: 10px;
	height: 80px;
		max-width: 100%;

	  position:relative;
 
   display:inline-block;
}
.logo img{
}
.footer{
	margin: auto;
	text-align: center;
	height: 80px;
	
	background-color: #26A69A;
}
.spacer{
	margin-left: 10px;
	margin-right: 10px;
}
.footerNav{
	padding-top: 25px;
}

.imageProject figure {
  margin: 15px ;
  overflow: hidden;
}

.imageProject figcaption {
  margin-top: 15px;
}


.imageProject div{
	
 display: flex;
  flex-wrap: wrap;
text-align: center;

}

.imageProject a {
  display: inline-block;
  margin-bottom:  8px ;
  margin-left: 5%;
  margin-right: 5%;
  width: 40%;
  

  text-decoration: none;
  color: black;
}


@media screen and (min-width: 50em) {

.imageProject  a {
    width: 30%;
    margin-left: 1.6%;
    margin-right: 1.6%;
  }
  

}

.imageProject img{
max-width: 100%;
    max-height: 100%;}

.imageProject a:hover img {
  transform: scale(1.15);
}

.imageProject figure{
  border: 0px solid #212121;
  max-width: 100% ;

  height: auto;
  display: inline-block;
  margin-top: 15px;

  transition: transform .2s ease-in-out;	

}

.imageProject figcaption{

 color: #26A69A;
  margin-left: 15%;
  margin-right: 5%;
  width: 68%;


}
font-size: 40px;

@-webkit-keyframes example {
   from {color: #212121;}
    to {color: #26A69A;}
}

/* Standard syntax */
@keyframes example {
    from {color: #212121;}
    to {color: #26A69A;}
}
@-webkit-keyframes example1 {
    from {font-size: 40px;}
    to {font-size: 25px;}
}

/* Standard syntax */
@keyframes example1 {
    from {font-size: 40px;}
    to {font-size: 33px;}
}

/*tcs and yahoo class*/
.work-ex{
	height: 270px;
	padding-bottom: 50px;
	margin-bottom: 20px;
}
.yahoo{
	position: relative;
	box-sizing: border-box;
	height: 130px;
	width: 100%;
	padding-bottom: 40px;
}

.tcs{
	box-sizing: border-box;
	height: 130px;
	width: 100%;
	padding-top: 20px;
	margin-bottom: 20px;
}
.work-img-container{
	height: inherit;
	float: left;
	border-color: #26A69A;
	border-width: 15.px;
	border-style: solid;
}

.work-img{
	max-height: 100%;
	max-width: 100%;
/*	padding-left: 10%;
*/	
}
.work-partitioner{
	width:10%;
}

.work-main{
	width: 60%;
	float: left;
}
h2{
	color:#26A69A;
	padding-left: 10%;
	padding-top: 0%;
	margin-top: 0%;
}
/**/
.personal-image-container{
	height: 200px;
	width: 16.5%;
	float: left;
		box-shadow: inset 0 0 10px orange ;

}

.personal-image{
	max-height: 100%;
	max-width: 100%;
	/*padding-left: 10%;*/
	height: inherit;

	
}

.type-writer h1 {
text-align: center;
	height: 50px;
	width:60%;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */

  white-space: nowrap; /* Keeps the content on a single line */
  /*margin: 0 auto;*/ /* Gives that scrolling effect as the typing happens */
  margin-top: 50px;
  margin-left: 50px;
  padding-left: 50px;

  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 4.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 60% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}*/