
/*

.dark-primary-color    { background: #E64A19; }
.default-primary-color { background: #FF5722; }
.light-primary-color   { background: #FFCCBC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FFEB3B; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
*/

html{}
body{
	
	width: 80%;
	font-family: 'Lato', sans-serif;
	margin:auto;
	background-image: url(images/fixex);
	background-attachment: fixed;
/*	opacity: 1.6;	
*/	color: #fff;
}

body p{
	color: #fff;
}

.header
{
	margin-top: 3px;
	height: 8%;
	background-color: #FF7F50;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;

}

.header h1{
	color: #fff;

}

.intro{
	
	height: 12%;

}


.intro p{

	text-align: left;
	color: #212121 ;
	font-size: 26px;
}

.row.no-pad {
  margin-right:0;
  margin-left:0;
  display: table;
}
.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:2px;
  float: none;
  display: table-cell;
  vertical-align: top;
}
.row.no-pad p{
	text-align: justify;
    text-justify: inter-word;
}

.sepeartor{
	 background-color: #FFEB3B; height: 4px; width: 88%; margin: auto;
	 margin-top: 10px; 
	 margin-bottom: 5px;
}

.container{
	/*border: 3px solid #BDBDBD;*/
	width: 100%;

}

 .item{
 	height: 100%;
 }

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.carousel-caption{
	width: 60%;

}


.projects{
	background-image: url(images/19989aa3.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background: rgba(3,169,244, 0.4);
	background-size: 100%;

}



/*
#cloud{
	position: relative;
	height: 600px;
}

#analytics{
	position: relative;
	height: 600px;
}

#webdev{
	position: relative;
	height: 600px;

}

.inner{
	position: relative;
	font-size: 48px;
	color: #212121;
	z-index: 2;
	top: 45%;
	left: 30%;
}

#analytics:after {
  content: "\f080"; 
  font-family: FontAwesome;
  position: absolute;
  font-size: 400px;
  color: #FF7F50;
  top: 50%;
  left: 50%;
  margin: -300px 0 0 -200px;
  z-index: 1;
}

#cloud:after {
  content: "\f0c2"; 
  font-family: FontAwesome;
  position: absolute;
  font-size: 400px;
  color: #FF7F50;
  top: 50%;
  left: 50%;
  margin: -300px 0 0 -200px;
  z-index: 1;
}
*/


/*
  .header{
 height: 12%;
 max-width: 100%;
margin: auto;
 font-size: 30px;
 background-color:  #26A69A;
   overflow: hidden;
position: relative;

	
}
.header span{
	width:30%;
 	margin-left: 15px;
	float: left;
	margin-top: 10px;
	padding: auto;
}
.header nav{
	width: 70%;
	float: right;
	margin: auto;
	
	padding: auto;


}

.header nav i{
	margin-left: 25px;
	margin-right: 15px;
}

.image{
	height: 300px;
	
/*	background-color: green;
	margin:auto;
	padding-bottom: 50px;
}
Siddharth's website
.image h1{
	color:#26A69A;
	text-align: center;
	margin-bottom: 25px;
	
-webkit-animation-name: example; /* Safari 4.0 - 8.0 
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 
    animation-name: example;
    animation-duration: 1s;

-webkit-animation-name: example1; /* Safari 4.0 - 8.0 
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 
    animation-name: example1;
    animation-duration: 1s;


	position:absolute;
 margin: -150px 0 0 -50px;
  left: 50%;
top: 50%;

}

h1{

	text-align: center;
	color:#26A69A;
}
*/
